Repository tboulund/chatman: changes, and which Jenkins stages are due for each by the changed paths.
All: building: backend, building: frontend

Jenkinsfile:

pipeline {
    agent any

    tools {nodejs "NodeJS"}

    triggers {
        pollSCM "*/5 * * * *"
    }

    stages{
        stage('building: backend') {
            when{
                anyOf{
                    changeset "chatmanback/**"
                }
            }
            steps{
                sh "echo '[BackEnd] is building...'"
                dir("chatmanback"){
                    sh "npm install"
                    sh "npm run build"
                }
            }
            post{
                success{
                    sh"echo 'backend successfully built'"
                }
            }
        }
        stage('backend tests') {
            steps{
                sh"echo'TBD'"
            }
            post {
                success{
                    sh"echo'tests are done. coverage report TBD'"
                }
            }
        }
        stage('building: frontend') {
            when {
                anyOf {
                    changeset "chatmanfront/**"
                }
            }
            steps{
                sh"echo'[Frontend] is building...'"
                dir("chatmanfront"){
                    sh"npm install"
                    sh"npm build"
                }
            }

        }

    }
}

Update Jenkinsfile
  Jenkinsfile
Due: none

Chat view
  chatmanfront/index.html
  chatmanfront/src/App.vue
  chatmanfront/src/views/ChatView.vue
Due: building: frontend

it should build frontend now
  chatmanfront/src/views/ChatView.vue
  chatmanfront/src/views/CreateUserView.vue
  chatmanfront/tsconfig.json
Due: building: frontend

backend + lidt frontend
  chatmanback/package-lock.json
  chatmanback/src/domain/interfaces/IUserRepository.ts
  chatmanback/src/domain/services/user.service.ts
  chatmanfront/src/App.vue
  chatmanfront/src/router/index.ts
  chatmanfront/src/views/ChatRoomView.vue
  chatmanfront/src/views/ProfileView.vue
  chatmanfront/src/views/StartView.vue
Due: building: backend, building: frontend

Anna fjernede min ene linje kode 😨
  chatmanfront/src/App.vue
Due: building: frontend

fuck JWT, jeg fucking flækker en neger!
  chatmanback/package-lock.json
  chatmanback/package.json
  chatmanback/src/app.controller.ts
  chatmanback/src/domain/services/login.service.ts
  chatmanback/src/login/constants.ts
  chatmanback/src/login/jwt.strategy.ts
  chatmanback/src/login/local-auth.guard.ts
  chatmanback/src/login/local.strategy.ts
  chatmanback/src/login/login.controller.ts
  chatmanback/src/login/login.module.ts
  chatmanfront/tsconfig.json
Due: building: backend, building: frontend

Update login.controller.ts
  chatmanback/src/login/login.controller.ts
Due: building: backend

CSS Gandalf slog til. ps fuck vue
  chatmanback/package-lock.json
  chatmanback/src/login/login.controller.ts
  chatmanfront/src/App.vue
  chatmanfront/src/assets/base.css
  chatmanfront/src/services/user.service.ts
  chatmanfront/src/stores/userStore.ts
  chatmanfront/src/views/CreateUserView.vue
Due: building: backend, building: frontend

Update package-lock.json
  chatmanback/package-lock.json
Due: building: backend

chat room
  chatmanfront/src/App.vue
  chatmanfront/src/router/index.ts
  chatmanfront/src/views/ChatView.vue
  chatmanfront/src/views/ConnectChatView.vue
Due: building: frontend

app vue
  chatmanfront/src/App.vue
Due: building: frontend

added webpack
  chatmanback/package-lock.json
  chatmanback/package.json
Due: building: backend

testing jenkins and docker
  Jenkinsfile
  chatmanback/dockerfile
  chatmanfront/dockerfile
  config/Test.env
  docker-compose.yml
Due: building: backend, building: frontend

Rename dockerfile to Dockerfile
  chatmanback/Dockerfile
Due: building: backend

Rename dockerfile to Dockerfile
  chatmanfront/Dockerfile
  chatmanfront/dockerfile
Due: building: frontend

Fixed casing
  Jenkinsfile
  docker-compose.yml
Due: none

tried to fix containers
  Jenkinsfile
  docker-compose.yml
Due: none

Run API
  chatmanback/Dockerfile
Due: building: backend

Update NPM in containers
  chatmanback/Dockerfile
Due: building: backend

generated chats with websocket and rooms with REST. also created universal DTOs for sending one or two strings
  chatmanback/src/app.controller.spec.ts
  chatmanback/src/app.module.ts
  chatmanback/src/chats/chats.gateway.ts
  chatmanback/src/chats/chats.module.ts
  chatmanback/src/chats/dto/create-chat.dto.ts
  chatmanback/src/chats/dto/update-chat.dto.ts
  chatmanback/src/core/entities/chat.entity.ts
  chatmanback/src/core/entities/room.entity.ts
  chatmanback/src/domain.test/services.test/chats.service.spec.ts
  chatmanback/src/domain.test/services.test/rooms.service.spec.ts
  chatmanback/src/domain/services/chats.service.ts
  chatmanback/src/domain/services/rooms.service.ts
  chatmanback/src/rooms/dto/create-room.dto.ts
  chatmanback/src/rooms/dto/update-room.dto.ts
  chatmanback/src/rooms/rooms.controller.ts
  chatmanback/src/rooms/rooms.module.ts
  chatmanback/src/universalDtos/string.dto.ts
  chatmanback/src/universalDtos/twoString.dto.ts
Due: building: backend

Fixed compose
  docker-compose.yml
Due: none

Test
  Jenkinsfile
  chatmanback/package-lock.json
  chatmanback/package.json
  config/Test.env
Due: building: backend
